# Cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Workspace files are user-specific
*.sublime-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# PLY
lextab.py
parsetab.py
parser.out

# Custom
backup
